# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Μιψηαιλισ\Documents\Bitbucket\Archive\CPH Business\Subjects\System Integration\Assignments\Assignment10\MicroservicesCarCatalog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
